body{
    background-image: url("https://images.unsplash.com/photo-1581349485608-9469926a8e5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2hlZiUyMGNvb2tpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    
    
    }
    #button{
        margin-left: 20px;
    }
    #box-container{
        text-align: center;
        margin-top: 50px;
    }

#btn-search{
    border: 1px solid gray;
    border-top-right-radius: 20px;
    background-color: #0d6efd;
}
#image{
    height: 300px;
    width: 300px;
}#meals-container{
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    
   
 
 }
 #heading{
    font-style: italic;
    color: whitesmoke;
    font-size: 70px;
}